* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
html {
    background-color : #ecf0f1;
    color : #333;
    font-family: 'Open Sans','Helvetica Neue',Helvetica, Arial, sans-serif;
    font-weight : normal;
    font-size : 14px;
    text-rendering : optimizeLegibility;
}
body {
    background-color : #ecf0f1;
}
.row {
    max-width : 1140px;
    margin : 0 auto;
}
.clearfix {
    zoom : 1;
}
.clearfix:after {
    content : '.';
    clear : both;
    display : block;
    height : 0;
    visibility : hidden;
}
.flex-grid {
    display : -webkit-flex;
    display : flex;
}
