{% load plustag_extras %}
{% if comments %}
{% for comment in comments %}
<div class="moment-co-index">
    {% if comment.user.info.profile_pic %}
    <img src="{{comment.user.info.profile_pic.url}}" class="c-moment-user-img">
    {% else %}
    <img src="/static/web/user.jpeg" class="c-moment-user-img flex-item1">
    {% endif %}
    <div style="margin-left:10px;width:100%" class="flex-item1">
        <div class="c-moment-user-name"><a href="{% url 'pro:profile' %}?id={{comment.user.id}}">{{comment.user.fullname}}</a></div>
        <div><span class="sh-text">{{comment.comment|escape_plustag|style_plustag|safe}}</span></div>
    </div>
</div>
{% endfor %}
{% else %}
{% spaceless %}
{% with comments=image.moment_momentcomment_moment.all %}
{% for comment in comments %}
<div class="moment-co-index">
    {% if comment.user.info.profile_pic %}
    <img src="{{comment.user.info.profile_pic.url}}" class="c-moment-user-img">
    {% else %}
    <img src="/static/web/user.jpeg" class="c-moment-user-img flex-item1">
    {% endif %}
    <div style="margin-left:10px;width:100%" class="flex-item1">
        <div class="c-moment-user-name"><a href="{% url 'pro:profile' %}?id={{comment.user.id}}">{{comment.user.fullname}}</a></div>
        <div><span class="sh-text">{{comment.comment|escape_plustag|style_plustag|safe}}</span></div>
    </div>
</div>
{% endfor %}
{% endwith %}
{% endspaceless %}
{% endif %}
