<option value="">Tỉnh - Thành phố</option>
<option value="vn-hanoi">Thủ đô Hà Nội</option>
<option value="vn-hochiminh">Thành phố Hồ Chí Minh</option>
<option value="vn-danang">Thành phố Đà Nẵng</option>
<option value="vn-cantho">Thành phố Cần Thơ</option>
<option value="vn-haiphong">Thành phố Hải Phòng</option>
<option value="vn-angiang">An Giang</option>
<option value="vn-brvt">Bà Rịa - Vũng Tàu</option>
<option value="vn-baclieu">Bạc Liêu</option>
<option value="vn-bacgiang">Bắc Giang</option>
<option value="vn-backan">Bắc Kạn</option>
<option value="vn-bacninh">Bắc Ninh</option>
<option value="vn-bentre">Bến Tre</option>
<option value="vn-binhduong">Bình Dương</option>
<option value="vn-binhdinh">Bình Định</option>
<option value="vn-binhphuoc">Bình Phước</option>
<option value="vn-binhthuan">Bình Thuận</option>
<option value="vn-camau">Cà Mau</option>
<option value="vn-caobang">Cao Bằng</option>
<option value="vn-daklak">Đắk Lắk</option>
<option value="vn-dacnong">Đắc Nông</option>
<option value="vn-dienbien">Điện Biên</option>
<option value="vn-dongnai">Đồng Nai</option>
<option value="vn-dongthap">Đồng Tháp</option>
<option value="vn-gialai">Gia Lai</option>
<option value="vn-hagiang">Hà Giang</option>
<option value="vn-hanam">Hà Nam</option>
<option value="vn-hatinh">Hà Tĩnh</option>
<option value="vn-haiduong">Hải Dương</option>
<option value="vn-haugiang">Hậu Giang</option>
<option value="vn-hoabinh">Hòa Bình</option>
<option value="vn-hungyen">Hưng Yên</option>
<option value="vn-khanhhoa">Khánh Hòa</option>
<option value="vn-kiengiang">Kiên Giang</option>
<option value="vn-kontum">Kon Tum</option>
<option value="vn-laichau">Lai Châu</option>
<option value="vn-langson">Lạng Sơn</option>
<option value="vn-laocai">Lào Cai</option>
<option value="vn-lamdong">Lâm Đồng</option>
<option value="vn-longan">Long An</option>
<option value="vn-namdinh">Nam Định</option>
<option value="vn-nghean">Nghệ An</option>
<option value="vn-ninhbinh">Ninh Bình</option>
<option value="vn-ninhthuan">Ninh Thuận</option>
<option value="vn-phutho">Phú Thọ</option>
<option value="vn-phuyen">Phú Yên</option>
<option value="vn-quangbinh">Quảng Bình</option>
<option value="vn-quangnam">Quảng Nam</option>
<option value="vn-quangngai">Quảng Ngãi</option>
<option value="vn-quangninh">Quảng Ninh</option>
<option value="vn-quangtri">Quảng Trị</option>
<option value="vn-soctrang">Sóc Trăng</option>
<option value="vn-sonla">Sơn La</option>
<option value="vn-tayninh">Tây Ninh</option>
<option value="vn-thaibinh">Thái Bình</option>
<option value="vn-thainguyen">Thái Nguyên</option>
<option value="vn-thanhhoa">Thanh Hóa</option>
<option value="vn-hue">Thừa Thiên Huế</option>
<option value="vn-tiengiang">Tiền Giang</option>
<option value="vn-travinh">Trà Vinh</option>
<option value="vn-tuyenquang">Tuyên Quang</option>
<option value="vn-vinhlong">Vĩnh Long</option>
<option value="vn-vinhphuc">Vĩnh Phúc</option>
<option value="vn-yenbai">Yên Bái</option>
