<option value="">Thể loại âm nhạc</option>
<option value="all">Đa thể loại</option>
<option value="classic">Nhạc cổ điển</option>
<option value="tradition">Nhạc dân gian/dân ca</option>
<option value="army">Nhạc cách mạng</option>
<option value="love">Nhạc tình ca</option>
<option value="pop">Pop</option>
<option value="rock">Rock</option>
<option value="jazz">Jazz</option>
<option value="blues">Blues</option>
<option value="R&B/Soul">R&amp;B/Soul</option>
<option value="Hiphop">Hip Hop</option>
<option value="country">Nhạc đồng quê</option>
