<option value="">Tên môn thể thao</option>
<option value="football" >Bóng đá</option>
<option value="basketball">Bóng rổ</option>
<option value="boxing">Boxing</option>
<option value="baseball">Bóng chày</option>
<option value="pingpong">Bóng bàn</option>
<option value="swimming">Bơi lội</option>
<option value="volleyball">Bóng chuyền</option>
<option value="cricket">Cricket</option>
<option value="fishing">Câu cá</option>
<option value="sailing">Chèo thuyền</option>
<option value="running">Chạy bộ</option>
<option value="chess">Cờ vua</option>
<option value="badminton">Cầu lông</option>
<option value="chinesechess">Cờ tướng</option>
<option value="ridinghorse">Cưỡi ngựa</option>
<option value="cycling">Đạp xe</option>
<option value="athletics">Điền kinh</option>
<option value="hockey">Hockey</option>
<option value="golf">Golf</option>
<option value="climbing">Leo núi</option>
<option value="patin">Trượt patin</option>
<option value="tennis">Tennis</option>
<option value="skateborad">Trượt ván</option>
