<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        <a href="" type="button" class="btn btn-default" data-id="all">Tất cả</a>
    </div>
    <div class="btn-group" role="group">
        <a href="" type="button" class="btn btn-default" data-id="everyone">Mọi người</a>
    </div>
    <div class="btn-group" role="group">
        <a href="" type="button" class="btn btn-default" data-id="activity">Hoạt đông</a>
    </div>
    <div class="btn-group" role="group">
        <a href="" type="button" class="btn btn-default" data-id="event">Sự kiện</a>
    </div>
    <div class="btn-group" role="group">
        <a href="" type="button" class="btn btn-default" data-id="skill">Kỹ năng</a>
    </div>
    <div class="btn-group" role="group">
        <a href="" type="button" class="btn btn-default" data-id="contest">Cuộc thi</a>
    </div>
    <div class="btn-group" role="group">
        <a href="" type="button" class="btn btn-default" data-id="scholarship">Học bổng</a>
    </div>
    <div class="btn-group" role="group">
        <a href="" type="button" class="btn btn-default" data-id="page">Trang</a>
    </div>
</div>
<br />

