<button class="btn btn-primary a-b">Tạo chuỗi hoạt động cho bạn</button>
<form method="post" class="a-form" action="/activities/create/">
    {% csrf_token %}
    <div class="ac-head">
        <p class="pp">Tên hoạt động</p>
        <input type="text" class="ac-hin ain" name="ac-hin" spellcheck="off" placeholder="Tên hoạt động (bắt buộc)" autocomplete="off">
    </div>
    <div class="ac-place">
        <p class="pp">Địa điểm hoạt động</p>
        <select name="province">
            {% include 'activity/province.html' %}
        </select>
        <select name="city">
            <option>Thành phố/Quận/Huyện</option>
        </select>
        <input type="hidden" name="hiddenprovince" value="">
        <input type="hidden" name="hiddencity" value="">
    </div>
    <div class="ac-friend">
        <p class="pp">Thêm bạn bè và người thân cùng tham gia hoạt động với bạn</p>
        <input type="text" class="ac-frin ain" autocomplete="false" value="">
        <div style="display:none;" class="hiddenin">
        </div>
        <div class="dropdown">
            <div class="dropdown-menu fr-div" style="display:none;">
            </div>
        </div>
        <div class="ac-frlist">
        </div>
    </div>
    <div class="ac-submit" style="margin-top:10px;">
        <button type="submit" class="btn btn-default" data-toggle="tooltip" title="Chuỗi hoạt động này chỉ được chia sẻ cho bạn và những người bạn tag cùng tham gia">Tạo hoạt động</button>
    </div>
</form>
<style>
.a-form {
    margin-top : 5px;
    margin-left : 10px;
}
.pp {
    font-size : 15px;
    margin-top : 5px;
}
.ain {
    margin-top : 3px;
    margin-bottom : 3px;
    width : 300px;
    padding : 3px 6px;
    border-width : 1px;
    border-style : solid;
    border-color : #aaa;
    border-radius : 4px;
}
.fr-c {
    border-bottom : 1px solid #e1e1e1;
    padding-bottom : 2px;
    padding-top : 2px;
    cursor : pointer;
}
.fr-c:hover {
    background-color : #eee;
}
.ac-frin {
    padding : 2px 4px;
    padding-bottom : 0px;
}
</style>
<script>
</script>
