{% extends 'web/standardpage.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/anonymous/post.css">
<link rel="stylesheet" type="text/css" href="/static/anonymous/status.min.css">
{% endblock %}

{% block searchpage %}
{% endblock %}

{% block webpage %}
<div class="middle_cont" style="margin-left:30px;">
    {% include 'anonymous/post.html' %}
</div>
<div class="middle_sta">
</div>
{% endblock %}

{% block status_script %}
{% endblock %}

{% block status_css %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/anonymous/heart.js"></script>
<script type="text/javascript" src="/static/anonymous/comment.js"></script>
<script type="text/javascript" src="/static/anonymous/post.js"></script>
<script type="text/javascript" src="/static/anonymous/status.js"></script>
<script type="text/javascript" src="/static/anonymous/time.js"></script>
<script type="text/javascript" src="/static/anonymous/load_infinity.js"></script>
<script>
$('.head-vi-active').removeClass('head-vi-active');
$('a[data-a="3"]').addClass('head-vi-active');
</script>
{% endblock %}

{% block style %}
<style>
body {
    background-color : #f9e6ff;
}
</style>
{% endblock %}
